/* INFO: Code shared with settings page */
.dimc {
  background: var(--dim);
  word-break: break-word;
}

.liste {
  justify-content: space-between;
  align-self: center;
  display: flex;
}

.center {
  justify-content: center;
  align-self: center;
  display: flex;
}

.button_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.button {
  padding: 1em 0 1em 0;
  border-radius: 30px;
  transition: transform 0.1s ease-in-out;
  background-color: var(--button);
}

.button:active {
  transform: scale(90%);
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
  .button_list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
  .button {
    padding: 25px 0 25px 0;
    border-radius: 40px;
    margin: 0.5em 0 0.5em;
    transition: transform 0.1s ease-in-out;
    background-color: var(--button);
    font-size: 18px;
  }
  .button:active {
    transform: scale(90%);
  }
}

/* INFO: Code shared with actions page */
.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: var(--button);
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid var(--desc);
  /* border: 2px solid var(--button); */
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
  background-color: var(--desc);
  border-radius: 50%;
  transform: scale(0.8);
}

input:checked + .slider:before {
  transform: translateX(23px) scale(1);
}

input:checked + .slider {
  background-color: var(--button-enabled);
  transition: 0.6s;
}

.action_card {
  display: inline-block;
  width: 80%;
  transition: opacity 0.5s;
}

.action_card_title {
  font-size: 1.1em;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.action_card_description {
  font-size: 0.9em;
  padding-left: 5px;
  padding-bottom: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
